html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}


.title{
    text-align: center;
    font-family: 'Cookie',cursive;
    position: sticky;
    font-size: 50px;
}

.nav-list{

    align-items: center;
    display: flex;

    list-style: none;
}

/* 전체 화면 오버레이 */
.intro-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #1A391B;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* 페이드아웃 전환 준비 */
    transition: opacity 1s ease;
}

#logo-text {
    font-family: 'Cookie', cursive;
    font-size: 100px;
    fill: transparent;        /* 내부 채우기 없애기 */
    stroke: #ffffff;
    stroke-width: 2px;
    /* strokeDasharray, strokeDashoffset 은 JS에서 설정 */
}


.intro-overlay.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* 메인 콘텐츠 숨김 */
#main-content {
    visibility: hidden;
}

.section{
    padding: 190px;
    background-color: #1A391B;
}

.section:nth-of-type(even) {
    background-color: #eaf4fb;
}

header {
    background-color: blue;
    padding: 30px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
